Level One.scriv/Files/binder.autosave
Level One.scriv/Files/binder.backup
Level One.scriv/Files/search.indexes
Level One.scriv/Files/user.lock
Level One.scriv/Files/Docs/docs.checksum
Level One.scriv/QuickLook/
Level One.scriv/Settings/ui.plist

